extends layout

block content
  .jumbotron
    h1 Welcome
    p.lead To a revolutionary CRM for small and medium enterprises. Try it out to see for yourself.
    p
      a.btn.btn-primary.btn-large(href='http://expressjs.com/') Learn more &raquo;
  .row
    .col-md-4
      h2 Start my workday.
        p
        a.btn.btn-default(href='http://expressjs.com/') Start &raquo;
    .col-md-4
      h2 My tasks.
        p
        a.btn.btn-default(href='https://www.npmjs.org/') Get &raquo;
    .col-md-4
      h2 End of day.
        p
        a.btn.btn-default(href='http://azure.microsoft.com') Log off &raquo;
